section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1400px;
    margin: 150px auto;
}

.included {
    background-color: #e3f3fd;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 0px gray;
    padding: 30px;
    font-family: Helvetica, sans-serif;
}

.included-list {
    list-style-type: none;
    padding-left: 0;
}

.included-list li {
    display: flex;
    align-items: center;
}

.included-list li p {
    margin: 10px 0;
    color: grey;
}

.included-list li i {
    color: rgb(78, 184, 250);
    margin-right: 12px;
}

.price {
    border: 5px solid rgb(10, 143, 252);
    border-radius: 8px;
    text-align: center;
    padding: 78px 120px;
}

.price-amount {
    font-size: 64px;
    color: rgb(10, 143, 252);
    padding-right: 8px;
}

.period {
    font-size: 22px;
}

.price p {
    font-size: 20px;
    color: rgb(92, 92, 92);
    margin-top: 32px;
    margin-bottom: 27px;
}

.btn {
    background-color: rgb(10, 143, 252);
    color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 0px grey;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
}