body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    background: linear-gradient(rgba(255, 255, 255, 0.85),
            rgba(255, 255, 255, 0.85)),
        url("./images/hero-certificates.jpg") no-repeat;
    background-size: cover;
    padding-bottom: 8px;
}

/*HEADER NAVIGATION */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 0 60px 60px 60px;
    box-shadow: 0 0 4px 1px grey;
    border-radius: 0 0 8px 8px;
    padding: 8px 20px;
}

.navigation img {
    width: 120px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.nav-list li {
    margin-right: 16px;
    text-decoration: none;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    padding-top: 28px;
    font-weight: bold;
}

.nav-list li:not(:last-child) a:hover {
    border-top: 5px solid #42abf8;
}

.nav-list li .btn {
    background: #42abf8;
    color: white;
    border-radius: 50%;
    padding: 8px;
    margin-top: 0;
    text-align: center;
    box-shadow: 1px 1px 4px 2px lightsteelblue;
}

.nav-list li .btn:hover {
    border: 2px solid rgb(223, 223, 223);
}

/* HEADER-ARTICLES */

.articles-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.web {
    background: #29394b;
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 2px 0px grey;
    padding: 22px;
    width: 50%;
    margin-left: 64px;
}

.web h2 {
    margin-top: 0;
    font-size: 32px;
}

.web p {
    line-height: 1.6;
    font-size: 17px;
}

.diplomas-imgs {
    width: 25%;
}

.diplomas-imgs img {
    margin-left: -5px;
}

.bottom-prg {
    font-style: italic;
    color: rgb(53, 53, 53);
    margin-left: 167px;
    margin-top: 26px;
}

/* MAIN */

main {
    margin: 120px 100px 80px 100px;
}

.diploma-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

.diploma-content {
    background-color: rgb(240, 239, 239);
    padding: 16px;
}

.diploma-content p {
    line-height: 1.6;
    font-size: 17px;
}

.diploma-prg {
    margin-top: 24px;
    margin-bottom: 110px;
}

main .explore {
    background: linear-gradient(rgba(158, 158, 158, 0.5), rgba(77, 77, 77, 0.3)),
        url("./images/sign-up-prompt-background.jpg") no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 8px 0px grey;
    border-radius: 8px;
    padding: 32px 40px;
    text-align: center;
    color: white;
}

.soft p {
    max-width: 52%;
    margin: 16px auto;
}

.btn {
    display: inline-flex;
    margin-top: 32px;
}

.apply-btn {
    padding-right: 40px;
}

.cur-btn {
    padding-left: 40px;
}

.apply {
    border: 1px solid transparent;
    border-radius: 8px;
    background: white;
    color: #42abf8;
    padding: 9px 22px;
    font-size: 19px;
}

.apply:hover {
    border-color: #42abf8;
    cursor: pointer;
}

hr {
    color: white;
    border: 1px solid white;
}

.curriculum {
    background: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 8px 22px;
    font-size: 19px;
}

.curriculum:hover {
    cursor: pointer;
    background-color: #42abf8;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    margin: 0 100px;
    padding: 32px 0;
}

.soft-logo {
    display: flex;
    align-items: center;
}

.soft-logo img {
    width: 120px;
    margin-right: 32px;
}

.soft-logo p {
    color: rgb(194, 193, 193);
    font-size: 14px;
    margin: 0;
}

.footer-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer-list li a {
    color: rgb(105, 105, 105);
    margin-right: 12px;
    text-decoration: none;
}

.social-media i {
    font-size: 18px;
    margin-right: 0px;
    color: black;
}