html{
    font-family: Helvetica, sans-serif;

}

body{
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51) ;
}

img{
    max-width: 50%;
}

aside {
    position: relative;
    float:right;
    margin-right: 80px;
    width: 30%;
    top: 0px;
    bottom: 0px;
}

article{
    width: 60%;
    margin-left: 30px;
}