body{
    background-color: #e4e978;
}

article{
    padding: 5px 15px;
    margin: 15px 10px;
    border: 1px solid #b2ad7d;;
    background-color: #f2f4c0;
}

section> article{
    color: #5c6e91;
}

section> p, h2, h1{
    font-style: italic;
}