:root {
    font-family: serif;
    font-size: 14px;
    line-height: 1.3;
    --color-border-main: rgb(153, 153, 153);
    --orange: rgb(255, 154, 5);
    --green: rgb(4, 142, 3);
}

.timeline h3 {
    font-size: 1.5rem;
    font-style: italic;
}