@import url("https://use.fontawesome.com/releases/v5.10.0/css/all.css");

body{
    background-color: rgb(251, 251, 251);
}


body *{
    font-family:'Times New Roman', Times, serif;
}

#normal .button{
    border: 2px solid rgb(51, 51, 51);
    border-radius: 12px;
    padding: 5px 10px;
    background-color: transparent;
    text-decoration: none;
    font-size: 1rem;
    color: rgb(51, 51, 51);
    font-weight:700;
    cursor: pointer;
    outline: none;
}

#filled .button,
#icon .button{
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 12px;
    padding: 6px 10px;
    background-color: rgb(51, 51, 51);
    color: rgb(251, 251, 251);
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}

#filled .hover:hover,
#icon .hover:hover{
    background-color: rgb(0, 102, 0);
}

#normal .hover:hover{
    background-color: rgb(251, 251, 251);
    border-color: rgb(0, 102, 0);
    color: rgb(0, 102, 0);

    cursor: pointer;
}