@media all and (max-width: 600px) {
    .thumbnails {
        flex-direction: column;
        align-items: center;
    }

    .thumbnails>div {
        width: 100%;
    }

    .thumbnails div {
        margin-bottom: 16px;
    }

    .thumbnails div a {
        margin-bottom: 16px;
    }

    .thumbnails a img {
        height: 250px;
    }
}