@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
   font-family: 'Poppins', sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

main {
   width: 100%;
   height: 100vh;
}

.services-header {
   text-align: center;
   margin: 50px 0 80px;
}

.services-title {
   font-size: 2.2rem;
   font-weight: 600;
   color: #1E1E1E;
   padding-bottom: 10px;
}

.green-text {
   color: #A4C639;
}

.services-subtitle {
   color: #666;
}

.services {
   width: 65%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 0 auto;
   gap: 35px;
}

.card-img {
   width: 100%;
}

.card-img img {
   width: 100%;
   height: 100%;
}

.card {
   background-color: #F7F7F7;
}

.card-info {
   padding: 20px;
}

.card-title {
   font-weight: 600;
   font-size: 1.4rem;
}

.card-text {
   padding: 20px 0;
   line-height: 1.8;
   color: #666;
}

.card-button {
   background-color: #A4C639;
   color: #fff;
   border: none;
   padding: 15px 35px;
   font-size: 0.8rem;
   border-radius: 40px;
}