header {
    margin: 20px auto 20px auto;
    display: flex;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 0.9rem;
}