/*SECTION DOG*/
section.dog {
    position: relative;
}

img.bg {
    width: 100%;
    height: 800px;
}

img.dog {
    position: absolute;
    bottom: 0;
    left: 60%;
    transform: translate(-50%, 12%);
    z-index: 2;
}

div.card {
    position: absolute;
    top: 50%;
    left: calc((100% - 1140px) / 2);
    transform: translate(0, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    z-index: 3;
}

div h1, div p {
    color: white;
}

button {
    background: white;
    border: none;
    color: #f20020;
}

.thin {
    font-weight: 200;
}

.bold {
    font-weight: 700;
}

/*SECTION SERVICES*/
.service {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service .header {
    text-align: center;
    width: 600px;
}

.service h3, .cat h3, .about h3 {
    font-size: 2.5rem;
}

.service p, .cat p {
    color: #8f8e91;
}

.service img {
    background-image: url("../images/service-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 180px;
    height: 200px;
    object-fit: none;
}

.service div.wrapper {
    display: flex;
    gap: 20px;
    max-width: 1200px;
}

.service .card {
    padding: 50px;
    text-align: center;
    border: 1px solid #ffc0c0;
    border-radius: 5px;
}

/*SECTION CAT*/
section.cat {
    margin: 200px auto 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cat .card {
    width: 400px;
    padding: 50px;
    text-align: left;
    border: none;
    transform: translate(0, 20%);
}

.cat button {
    background: #f20020;
    border: none;
    color: white;
    font-weight: 600;
}

/*SECTION ABOUT*/
section.about {
    position: relative;
    margin: 200px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.about img {
    width: 100%;
    height: auto;
}

section.about .content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
}

.about h3 {
    color: white;
}

.about div.wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 100px auto 0 auto;
}

footer ul {
    display: inline;
}

footer h6 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

footer ul li {
    margin-bottom: 20px;
}