#wrapper{
    width: 700px;
    height: 730px;
    border: 1px solid #000000;
    padding: 10px 20px;
    background-color: #a6e1ec;
    /* color: #2ea620; */
}

.text{
    color: #3f51b5;
}

img{
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}

ul li{
    list-style-type: none;
    width: 595px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    border: 1px solid #000000;
}